.popup {
    display: flex;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 10;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 640px) {
    .popup {
        top: -60px;
    }
}