.profile__edit-button {
    border: 1px solid #FFFFFF;
    height: 24px;
    width: 24px;
    background: url("../../../images/edit-button.svg") no-repeat center;
    margin-bottom: 8px;
    align-self: flex-end;
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity .6s ease;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 920px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
    }
}