.like-button {
    background-image: url("../../images/like.svg");
    min-width: 22px;
    min-height: 19px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    background-color: transparent;
    padding: 30px 0 0;
    border: 0;
    transition: opacity .4s;
}

.like-button:hover {
    opacity: .5;
    cursor: pointer;
}