.header__logo {
    width: 142px;
    height: 33px;
    /*padding-left: 27px;*/
    /*padding-bottom: 32px;*/
    /*padding-top: 45px;*/

    /*значение по PP*/
    padding-bottom: 40px;
    padding-top: 35px;
}


@media screen and (max-width: 920px) {
    .header__logo {
        /*width: 142px;*/
        width: 104px;
        height: 24px;
        /*height: 33px;*/
        margin: 0;
        align-self: flex-start;
        padding-top: 28px;
        padding-left: 27px;
        padding-bottom: 31px;
    }
}