.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin-left: auto;
    align-self: center;
    background: url("../../../images/add-button-plus.png") center no-repeat;
}