.root {
    background-color: #000;
    color: #FFF;
    font-family: 'Inter', Arial, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}