.footer {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 60px;
}

@media screen and (max-width: 919px) {
    .footer {
        padding: 48px 19px 46px;
        max-width: 582px;
    }
}

@media screen and (max-width: 639px) {
    .footer {
        padding: 48px 19px 46px;
        max-width: 282px;
    }
}