.element {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /*!*width: 282px;*!  дает поле справа */
    height: 361px;
    background: #FFFFFF;
    color: #000000;
}